#asd{color: chocolate;}
.qwe{font-style: inherit;color: blueviolet;}
h2{color: rgb(153, 11, 158);font-style: italic;background-color: antiquewhite;}
h3,h4{color: cornflowerblue;font-size: xx-large;}
*{color: darkgoldenrod;background-color: black;}